@import '../../styles/_vars.sass';

.container-am {
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 768px) {
    flex-wrap: wrap-reverse;
    position: absolute;
    top: 80px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    }
}

.left-part-am {
    width: 47%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;

    @media (max-width: 768px) {
        width: 100%;
    }
}

.right-part-am {
    width: 47%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;

    @media (max-width: 768px) {
        width: 100%;
    }
}

.photo {
    width: 90%;
    height: auto;
    animation: fadeIn 5s;

    @media (max-width: 768px) {
        width: 50%;
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.présentation {
    font-family: $font-family;
    color: #C89933;
    font-size: 2.5rem;
    text-align: right;
    text-align: justify;

    @media (max-width: 768px) {
    font-size: 1.5rem;  
    }
}

.here {
    text-decoration: underline;
    animation: blink 3s infinite; 
}

@keyframes blink {
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}

.stain4 {
    width: 20%;
    position: absolute;
    right: -5%;
    bottom: -5%;
    z-index: -1;
    transform: rotate(-25deg);

    @media (max-width: 768px) {
    display: none;  
    }
}

.stain5 {
    width: 20%;
    position: absolute;
    right: 5%;
    top: 5%;
    z-index: -1;

    @media (max-width: 768px) {
    display: none; 
    }
}