@import '../../styles/_vars.sass';

body {
    overflow-y: hidden;
}

.container-resume {
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.part-resume {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.top-icon {
    width: 40%;
}

.top-icon:hover {
    padding: 8px;
    border: 3px solid #C89933;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #C89933;
}

.top-icon.active {
    padding: 8px;
    border: 3px solid #C89933;
    border-radius: 10px;
}

.top-text {
    color: #C89933;
    font-family: $font-family;
    font-size: 2.5rem;
    text-transform: uppercase;

}