@import '../../styles/_vars.sass';

.header {
    background-image: url('./Bandeau-Empty-Extend-Final-Double(reduce).png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 200px;
    position: relative;
    top: -134px;
    transition-duration: 300ms;
    display: flex;
    justify-content: space-around;
    animation: slideDown 8s;
    z-index: 1;

    @media screen and (max-width: 768px) {
    justify-content: space-around;
    top: -120px;
    animation: none;
    }

    @media (max-width: 425px) {
        justify-content: space-around;
    }
}

.header:hover {
    height: 200px;
    top: -80px;
    transition-duration: 300ms;

    @media screen and (max-width: 768px) {
    top: -120px;
    }
}

.navigation {
    font-family: $font-family;
    color: #C89933;
    font-size: 3rem;
    text-transform: uppercase;
    position: relative;
    top: 80px;
    transition-duration: 300ms;

    @media screen and (max-width: 768px) {
    font-size: 1.5rem;
    margin-left: 6%;
    margin-right: 6%;
    top: 60%;
    }

    @media (max-width: 425px) {
        font-size: 1.2rem;
        top: 60%;
    }
}

.navigation:hover {
    position: relative;
    top: 100px;
    transition-duration: 300ms;

    @media screen and (max-width: 768px) {
    position: relative;
    top: 60%;
    }
    @media (max-width: 425px) {
        font-size: 1.5rem;
        margin-left: 6%;
        margin-right: 6%;
        top: 60%;
    }
}

.navigation.active {
    font-family: $font-family;
    color: #C89933;
    font-size: 3rem;
    text-transform: uppercase;
    text-decoration: underline #C89933;
    position: relative;
    top: 100px;

    @media screen and (max-width: 768px) {
    font-size: 1.5rem;
    top: 126px;
    }

    @media (max-width: 425px) {
        font-size: 1.2rem;
        margin-left: 6%;
        margin-right: 6%;
        top: 128px;
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    50% {
        transform: translateY(80px);
        opacity: 0.80;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}
